{{define "cv_template"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <!-- Nav tabs -->
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#overview">
                                <i class="fas fa-user"></i> Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#project">
                                <i class="fas fa-cube"></i> Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#prizes">
                                <i class="fas fa-trophy"></i> Prizes</a>
                        </li>
                        {{if .Data.Self}}
                        <li class="ml-auto">
                            <a class="nav-link" href="/faculty/editcv">
                                <i class="fas fa-edit"></i>Edit</a>
                        </li>
                        {{end}}
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="card-body">
                    <div class="tab-content">
                        <div id="alertbox" style="display: none;" class="alert alert-info" role="alert"></div>
                        <div id="overview" class="container tab-pane active"><br>
                            <div class="cvdiv row">
                                <div class="col-md-6">
                                    <h3>Biography</h3>
                                </div>
                                <div class="col-md-12">
                                    <p data-placeholder="Describe yourself..." id="bio"
                                        contenteditable="{{ .Data.Style.Edit }}" class="{{ .Data.Style.Class }}">
                                        {{ html .Data.CVDetail.Overview.Biography}}</p>
                                </div>
                                {{if .Data.Style.Edit}}
                                <div class="col-md-6 ml-auto"><a href="#" onClick="saveBio();"><i class="fas fa-save">
                                            Save</i></a></div>
                                {{end}}
                            </div>
                            <div class="cvdiv">
                                <h4>About Me</h4>
                                <p data-placeholder="Write about you..." id="about"
                                    contenteditable="{{ .Data.Style.Edit }}" class="{{ .Data.Style.Class }}">
                                    {{ html .Data.CVDetail.Overview.AboutMe}}</p>
                                {{if .Data.Style.Edit}}
                                <div class="col-md-6 ml-auto"><a href="#" onClick="saveAbout();"><i class="fas fa-save">
                                            Save</i></a></div>
                                {{end}}
                            </div>
                        </div>
                        <div id="project" class="container tab-pane fade"><br>
                            {{$edit := .Data.Style.Edit}}
                            {{range $val := .Data.CVDetail.Project}}
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{$val.Title}}</h4>
                                    <p class="card-text">{{$val.Detail}}</p>
                                    {{if $edit}}
                                    <a href="#" onClick="deleteProject('{{$val.Title}}');"> <i
                                            class="fas fa-times-circle"></i></a>
                                    {{end}}
                                </div>
                            </div>
                            {{end}}
                            {{if .Data.Style.Edit}}
                            <hr>
                            <form id="prform" onsubmit="return addProject()">
                                <div class="form-group col-md-6">
                                    <label for="projecttitle" id="projecttitle">Project Title</label>
                                    <input type="text" name="projecttitle" class="form-control" id="projecttitle"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="projectdesc" id="projectdesc">Project Description</label>
                                    <input type="text" name="projectdesc" class="form-control" id="projectdesc"
                                        required>
                                </div>
                                <div class="col-md-6"><button class="btn btn-primary" type="submit"><i
                                            class="fas fa-plus">
                                            Add New</i></button></div>
                                {{end}}
                            </form>
                        </div>
                        <div id="prizes" class="container tab-pane fade"><br>
                            {{$edit := .Data.Style.Edit}}
                            {{range $val := .Data.CVDetail.Prizes}}
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{$val.Title}}</h4>
                                    <p class="card-text">{{$val.Prize}}</p>
                                    {{if $edit}}
                                    <a href="#" onClick="deletePrize('{{$val.Title}}');"> <i
                                            class="fas fa-times-circle"></i></a>
                                    {{end}}
                                </div>
                            </div>
                            {{end}}
                            {{if .Data.Style.Edit}}
                            <hr>
                            <form id="prizeform" onsubmit="return addPrize()">
                                <div class="form-group col-md-6">
                                    <label for="prizettitle" id="prizettitle">Prize Title</label>
                                    <input type="text" name="prizettitle" class="form-control" id="prizettitle"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="prizev" id="prizev">Prize</label>
                                    <input type="text" name="prizev" class="form-control" id="prizev" required>
                                </div>
                                <div class="col-md-6"><button class="btn btn-primary" type="submit"><i
                                            class="fas fa-plus">
                                            Add New</i></button></div>
                                {{end}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}