{{define "title"}}CV | Edit{{end}}
{{define "content"}}
<style>
    p:empty:not(:focus)::before {
        content: attr(data-placeholder);
    }
</style>
{{template "cv_template" .}}
{{end}}
{{define "js"}}
<script>
    function saveBio() {
        senddata({ 'biography': $('#bio').html() });
    }
    function saveAbout() {
        senddata({ 'aboutme': $('#about').html() });
    }

    function addProject() {
        var formdata = $('#prform').serializeArray();
        senddata({
            'project': {
                'title': formdata[0].value,
                'detail': formdata[1].value,
            }
        }, true);
        return false;
    }

    function deleteProject(projecttitle){
        senddata({ 'deleteproject': projecttitle }, true);
    }

    function addPrize() {
        var formdata = $('#prizeform').serializeArray();
        senddata({
            'prize': {
                'title': formdata[0].value,
                'prize': formdata[1].value,
            }
        }, true);
        return false;
    }

    function deletePrize(prizetitle){
        senddata({ 'deleteprize': prizetitle }, true);
    }

    function senddata(data, reload=false) {
        $(this).prop('disabled', true);
        $('#alertbox').show().html('saving..');
        var jsondata = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            url: '/faculty/editcv',
            data: jsondata,
            success: function (msg) {
                $('#alertbox').show().html(msg + " saving");
                if (reload && msg == "ok")
                    location.reload();
            },
            error: function (e) {
                $('#alertbox').show().html('error saving');
            }
        });
    }
</script>
{{end}}