{{define "title"}}Admin Home{{end}}
{{define "content"}}
<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">Department Details</div>
                <div class="card-body">
                    <div id="alertbox" style="display: none;" class="alert alert-info" role="alert"></div>
                    {{range $val := .Data.Departments}}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{$val.Name}}</h4>
                            <a href="#" onClick="deleteDept('{{$val.DeptID}}');"> <i class="fas fa-times-circle"></i></a>
                        </div>
                    </div>
                    {{end}}
                    <hr>
                    <form id="prform" onsubmit="return addDept()">
                        <div class="form-group col-md-6">
                            <label for="deptname" id="deptname">Project Title</label>
                            <input type="text" name="deptname" class="form-control" id="deptname" required>
                        </div>
                        <div class="col-md-6"><button class="btn btn-primary" type="submit"><i class="fas fa-plus">
                                    Add Department</i></button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    function deleteDept(deptID) {
        senddata({ 'deleteDept': deptID }, true);
    }

    function addDept() {
        var formdata = $('#prform').serializeArray();
        senddata({
            'addDept': formdata[0].value,
        }, true);
        return false;
    }

    function senddata(data, reload = false) {
        $(this).prop('disabled', true);
        $('#alertbox').show().html('saving..');
        var jsondata = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            url: '/admin',
            data: jsondata,
            success: function (msg) {
                $('#alertbox').show().html('changes saved');
                if (reload)
                    location.reload()
            },
            error: function (e) {
                $('#alertbox').show().html('error saving');
            }
        });
    }
</script>
{{end}}