{{define "title"}}Profile{{end}}
{{define "content"}}
<div class="container" style="margin-top:50px">
    {{if .Employee.Uname}}
    <div class="row">
        <div class="col-md-4">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="/img/43.jpg" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>{{.Employee.Fname}} {{.Employee.Lname}}</a></h4>
                    <!-- Text -->
                    <p class="card-text">{{.User}}</p>
                    <p class="card-text"><b>Email : </b>{{.Employee.Email}}</p>
                    <p class="card-text">
                        {{ if .Data.Self }}
                        <b>Number of leaves : </b>{{.Data.NumLeaves}}
                        {{ end }}
                    </p>
                    {{if .Faculty.EmpID}}
                    <span class="badge badge-primary">Faculty Details</span>
                    <p class="card-text"> <b>Dept : </b>{{.Faculty.Dept.Name}}</p>
                    <p class="card-text"> <b>Join Date : </b>{{.Faculty.StartDate}}</p>
                    {{end}}
                    {{if .CCFaculty.EmpID}}
                    <span class="badge badge-primary">Cross Cutting Faculty Details</span>
                    <p class="card-text"> <b>Post : </b>{{.CCFaculty.Post.Name}}</p>
                    <p class="card-text"> <b>Join Date : </b>{{.CCFaculty.StartDate}}</p>
                    {{end}}
                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col-md-8">
            {{if .Faculty.EmpID}}
            <div class="row">
                {{template "cv_template" .}}
            </div>
            {{end}}
        </div>
    </div>

    {{else}}
    <h3>Profile not found!</h3>
    {{end}}
</div>
{{end}}

{{define "js"}}
<script>
    $(document).ready(function () {
        $('.cvdiv').each(function () {
            if (isEmpty($(this).find('p')))
                $(this).hide();
        });
    });
    function isEmpty(el) {
        return !$.trim(el.html())
    }
</script>
{{end}}