{{define "title"}}Profile{{end}}
{{define "content"}}
<div class="container" style="margin-top:50px">
    {{if .Employee.Uname}}
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">Basic Details</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <b>Username : </b>{{.User}}
                        </div>
                        <div class="col-md-4">
                            <b>Name : </b>{{.Employee.Fname}}
                            {{.Employee.Lname}}
                        </div>
                        <div class="col-md-4">
                            <b>Email : </b>{{.Employee.Email}}
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>
    </div>
    {{if .CCFaculty.EmpID}}
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">Cross Cutting Faculty Details</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <b>Dept : </b>{{.CCFaculty.Post.Name}}
                        </div>
                        <div class="col-md-4">
                            <b>Start Date : </b>{{.CCFaculty.StartDate}}
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>
    </div>
    {{end}}

    {{if .Faculty.EmpID}}
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">Faculty Details</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <b>Dept : </b>{{.Faculty.Dept.Name}}
                        </div>
                        <div class="col-md-4">
                            <b>Start Date : </b>{{.Faculty.StartDate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{template "cv_template" .}}
    </div>
    {{end}}

    {{else}}
    <h3>Profile not found!</h3>
    {{end}}
</div>
{{end}}

{{define "js"}}
<script>
    $(document).ready(function () {
        $('.cvdiv').each(function () {
            if (isEmpty($(this).find('p')))
                $(this).hide();
        });
    });
    function isEmpty(el) {
        return !$.trim(el.html())
    }
</script>
{{end}}