{{define "title"}}Register{{end}}
{{define "content"}}
<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{if .Data.Error}}
            <ul>
                <li style="color:red">{{.Data.Error}}</li>
            </ul>
            {{end}}
            <!-- Material form register -->
            <div class="card">

                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Sign up</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" style="color: #757575;"  method="POST" action="/register">

                        <div class="form-row">
                            <div class="col">
                                <!-- First name -->
                                <div class="md-form">
                                    <input name="first_name" type="text" id="materialRegisterFormFirstName" class="form-control">
                                    <label for="materialRegisterFormFirstName">First name</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Last name -->
                                <div class="md-form">
                                    <input name="last_name" type="text" id="materialRegisterFormLastName" class="form-control">
                                    <label for="materialRegisterFormLastName">Last name</label>
                                </div>
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="md-form mt-0">
                                <input name="name" type="text" id="materialRegisterFormName" class="form-control">
                                <label for="materialRegisterFormName">Username</label>
                            </div>

                        <!-- E-mail -->
                        <div class="md-form mt-0">
                            <input name="email" type="email" id="materialRegisterFormEmail" class="form-control">
                            <label for="materialRegisterFormEmail">E-mail</label>
                        </div>

                        <!-- Password -->
                        <div class="md-form">
                            <input name="password" type="password" id="materialRegisterFormPassword" class="form-control"
                                aria-describedby="materialRegisterFormPasswordHelpBlock">
                            <label for="materialRegisterFormPassword">Password</label>
                            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                At least 8 characters and 1 digit
                            </small>
                        </div>

                        <!-- Sign up button -->
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                            type="submit">Submit</button>
                        <hr>

                        <!-- Terms of service -->
                        <p>By clicking
                            <em>Sign up</em> you agree to our
                            <a href="" target="_blank">terms of service</a>

                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form register -->
            <!-- <form method="POST" action="/register">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputfirstname" id="exampleInputfirstname">First Name</label>
                        <input type="text" name="first_name" class="form-control" placeholder="First name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputlastname" id="exampleInputlastname">Last Name</label>
                        <input type="text" name="last_name" class="form-control" placeholder="Last name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputusername">Username</label>
                    <input type="username" name="name" class="form-control" id="exampleInputusername"
                        aria-describedby="emailHelp" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form> -->
        </div>
    </div>
</div>
{{end}}